@import "../../App.scss";

.skills-section {
  width: 100%;
  height: 100%;
  max-width: 340px !important;
}

.skills-section p {
  margin-bottom: 10px;
  color: $primary-color;
  text-align: justify;
}

.skills-section p a {
  padding: 0px 4px;
  border: 2px solid $primary-color;
}

.skills-section .section-title {
  left: -287px;
}
