@import "../../App.scss";

.main-structure {
  height: 90vh;
  max-width: 90vw;
  width: 100%;
  border: 4px solid $secondary-color;
  position: relative;
  background-color: transparent;
  opacity: 0.95;
  border-radius: 2px;
}

.content {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 40%;
  letter-spacing: 1px;
  line-height: 28px;
  background-color: $secondary-color;
  height: 100%;
}

.content > * {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 50px;
  margin-left: 100px;
}

.left-content {
  max-width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.right-content {
  max-width: 40%;
}

// socials

.social-icons {
  display: flex;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -148px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.social-icons:hover {
  left: -120px;
}

.social-icons a {
  border: 2px solid $secondary-color;
  padding-left: 10px;
  padding-right: 10px;
  color: $secondary-color;
  transition: all 0.15s ease;
}

.social-icons a:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

.social-text {
  letter-spacing: 1px;
  font-size: $h3-desktop-size;
}

.social-icons a:nth-child(1) {
  margin-right: 20px;
}

.social-icons a:nth-child(2) {
  margin-left: 20px;
}

// .linkedin {
//   background: url("../../Assets/linkedin.svg") no-repeat;
//   height: 58px;
//   width: 58px;
//   background-size: contain;
//   margin-top: 3px;
// }

// .github {
//   background: url("../../Assets/github.svg") no-repeat;
//   height: 64px;
//   width: 64px;
//   background-size: contain;
// }

// sidebar nav

nav {
  position: relative;
  width: 100%;
}

.sidebar-links {
  display: flex;
  flex-direction: row;
  border-top: 4px solid $secondary-color;
}

.sidebar-link {
  color: $secondary-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: $p-desktop-size;
  transition: all 0.15s ease;
}

.sidebar-link:hover {
  background-color: $secondary-color !important;
  color: $primary-color;
}

.active {
  background-color: $secondary-color !important;
  color: $primary-color;
}
