@import "../../App.scss";

.main-structure {
  height: 90vh;
  max-width: 90vw;
  width: 100%;
  border: 4px solid $secondary-color;
  position: relative;
  background-color: transparent;
  opacity: 0.97;
  border-radius: 2px;
}

.content {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 40%;
  letter-spacing: 1px;
  line-height: 28px;
  background-color: $secondary-color;
  height: 100%;
}

.content > * {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 50px;
  margin-left: 100px;
}

// sidebar nav

nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.sidebar-links {
  display: flex;
  flex-direction: row;
  border-top: 4px solid $secondary-color;
}

.sidebar-link {
  color: $secondary-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: $p-desktop-size;
  transition: all 0.15s ease;
}

.sidebar-link:hover {
  background-color: $secondary-color !important;
  color: $primary-color;
}

.active {
  background-color: $secondary-color !important;
  color: $primary-color;
}
